@import './shared/fonts';

html,
body,
* {
    font-family: 'Fira Code';
}

$width: 55px;
$padding: 2px;
$height: $width / 2+$padding;

//toggle code begins!
.switch-wrap {
    cursor: pointer;
    background: #15273b;
    padding: $padding;
    width: $width;
    height: $height;
    border-radius: $height / 2;

    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: .2s;

    //ICYMI, pseudo elements are treated as grid items
    &::after {
        content: '🌞';
        border-radius: 50%;
        background: #97D1D1;
        grid-column: 2;
        transition: background .2s;
    }
}

input:checked {
    +.switch {
        grid-template-columns: 1fr 1fr 0fr;

        &::after {
            content: '🌙';
            background-color: #2e4482;
        }
    }
}

body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.253);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.253);
}

body::-webkit-scrollbar-thumb {
    background-color: #251e3e;
    outline: 0.1rem solid #451e3e;
    border-radius: 0.5rem;
}


